* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: azure;
}

.container {
    width: 621px;
    height: 462px;
    background-color: white;
    margin: 40px auto 0px;
    padding-top: 14px;
}

.wrapper {
    width: 600px;
    height: 435px;
    margin: auto;
    border: 1px solid black;
}

.input {
    content: "";
    display: block;
    width: 100%;
    height: 45px;
    border-bottom: 1px solid black;
    padding: 0px;
    margin: 0px;
    position: relative;
}

.input img {
    position: absolute;
    top: 7px;
    right: 17px;
}

input {
    outline: none;
    border-style: none;
    width: 90%;
    padding: 11px 0px 0px 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #696969;
}

.two-screen {
    display: flex;
    flex-direction: row;
}

.left-screen {
    width: 300px;
    height: 388px;
    position: relative;
}

.right-screen {
    width: 300px;
}

.main-section {
    border-right: 1px solid black;
    height: 100%;
}

.tabs {
    width: 100%;
    height: 44px;
    border-top: 1px solid black;
    position: absolute;
    bottom: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.tab {
    text-align: center;
    padding-top: 12px;
    border-right: 1px solid black;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.locations {
    height: 307px;
    border-top: 1px solid black;
    padding: 35px 0px 0px 18px;
    overflow: auto;
}

p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin: 0px 0px 15px 0px;
}

h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin-top: 33px;
    margin-left: 18px;
}

.now {
    background-color: black;
    color: white;
}